/* css/style_carrinho.css */
#cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    background: #0d2b44;
    padding: 15px;
    border-radius: 5px;
    animation: fadeIn 0.5s ease;
}
#cart-items div {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #e0e0e0;
    transition: transform 0.3s ease;
}
#cart-items div:hover {
    transform: translateX(10px);
}
button {
    padding: 5px 10px;
    cursor: pointer;
    background: #2e7d32;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
button:hover {
    background: #1a5e20; /* Verde mais escuro */
    transform: scale(1.05);
}